@import url('https://fonts.googleapis.com/css2?family=Karla:wght@300&display=swap');

/* COMMON STYLES and BODY */
* {
    margin: 0;
    font-family: 'Karla', sans-serif;
}

body {
    display: flex;
    justify-content: center;
    flex-direction: row;
    position: relative;
}

#homediv {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100%;
    flex-direction: column;
    background-color: rgb(218, 211, 197);
}

/* RIGHT SIDE DIV */
.side-right {
    border-radius: 1rem 2rem 1rem 2rem;
    border: 2px solid gray;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 70vh;
    width: 25vw;
    padding: 1rem;
    right: 2rem;
    flex-direction: column;
    background-color: whitesmoke;
    top: 50%;
    transform: translateY(-50%);
}

.side-right h2 {
    position: absolute;
    top: 0;
    padding: 1rem 2.5rem 0.75rem 2.5rem;
    font-size: 25px;
    border-bottom: 1px solid gray;
    font-weight: 600;
}

/* LEFT SIDE DIV */
.side-left {
    border-radius: 1rem 2rem 1rem 2rem;
    border: 2px solid gray;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 30vh;
    width: 23vw;
    padding: 1rem;
    left: 2rem;
    flex-direction: column;
    background-color: whitesmoke;
    top: 50%;
    transform: translateY(-50%);
}

.titlediv {
    position: absolute;
    top: 0;
    padding: 1rem 2.5rem 0.75rem 2.5rem;
    font-size: 25px;
    border-bottom: 1px solid gray;
    font-weight: 600;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.titlecontent {
    font-size: 27.5px;
    letter-spacing: .75px;
}

#turn {
    color: red;
}

.lastmove {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    width: 100%;
    position: relative;
}

.lastmove h2 {
    color: #311b04;
    font-size: 30px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    padding: 1rem;
    display: flex;
    justify-content: space-between;
}

.absolute-middle {
    top: 50%;
    left: 50%;
    transform: translateY(-50%, -50%);
    margin: 0;
    padding: 0;
}

.loader {
    border: 6px solid #c5c5c5;
    border-top: 6px solid #b76f20; 
    border-bottom: 6px solid #82490b;
    border-radius: 50%;
    width: 25px;
    height: 25px;
    animation: spin 2s linear infinite;
  }
  
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }
/* CHESS BOARD */
#grid {
    display: flex;
    text-align: center;
    position: relative;
    z-index: 1000;
}

.rotate {
    transform: rotate(180deg);
    /* transition: transform 2s;
    transition-timing-function: ease-out; */
}

#grid:not(.rotate) {
    /* transition: transform 2s;
    transition-timing-function: ease-out; */
}

.rotate-piece {
    transform: rotate(180deg);
}

.el {
    width: 2rem;
    height: 2rem;
    padding: 1rem;
    /* border: 0.1px solid gray; */
    border: 0.1px solid beige;
    position: relative;
}

.el:hover {
    opacity: 90%;
}

.white {
    /* background-color: rgb(207, 206, 206); */
    background-color: #b76f20;
}

.black {
    /* background-color: rgb(134, 101, 74); */
    background-color: #82490b;
}

.side {
    background-color: black;
}

.el-label {
    position: absolute;
    font-size: 13px;
    bottom: 0;
    left: 0;
    padding: 0 0 3.5px 3.5px;
    font-weight: 500;
    color: white;
}

.el-label-top {
    position: absolute;
    font-size: 13px;
    top: 0;
    right: 0;
    padding: 3.5px 3.5px 0 0;
    font-weight: 500;
    color: white;
}

.piece {
    width: 65%;
    height: 65%;
    position: absolute;
    margin-left: auto;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-repeat: no-repeat;
    background-size: 100%;
    transition: width 0.3s, height 0.3s;
}

.piece:hover {
    cursor: pointer;
    width: 60.5%;
    height: 60.5%;
    transition: width 0.2s, height 0.2s;
}

.dragging {
    width: 60.5%;
    height: 60.5%;
    cursor: -moz-grab;
}

.hidden {
    display: none
}

.possible {
    box-shadow: 1px 1px 10px 10px rgba(119, 255, 107, 0.46) inset;
    /* background-color: rgba(107, 255, 107, 0.186); */
}
/* RESPONSIVE DESIGN */

@media (max-width: 2200px) {
    .el {
        width: 3rem;
        height: 3rem;
        padding: 1.5rem;
    }

    .el-label {
        font-size: 16px;
        padding: 0 0 4px 4px;
        font-weight: 500;
    }
    
    .el-label-top {
        font-size: 16px;
        font-weight: 500;
        padding: 4px 4px 0 0;
    }
    .side-left {
        height: 30vh;
        padding: 1rem;
        left: 4rem;
    }
    .side-right {
        width: 23vw;
        padding: 1rem;
        right: 4rem;
    }
    #messagecontent input {
        font-size: 17.5px;
    }

}


@media (max-width: 1800px) {
    .el {
        width: 2.5rem;
        height: 2.5rem;
        padding: 1.25rem;
    }

    .el-label {
        font-size: 15px;
        padding: 0 0 4px 4px;
        font-weight: 500;
    }
    
    .el-label-top {
        font-size: 15px;
        font-weight: 500;
        padding: 4px 4px 0 0;
    }
    .side-left {
        height: 30vh;
        width: 23vw;
        padding: 1rem;
        left: 4rem;
    }
    .side-right {
        height: 60vh;
        width: 23vw;
        padding: 1rem;
        right: 4rem;
    }
    #messagecontent input {
        font-size: 15px;
    }

}

@media (max-width: 1500px) {
    .el {
        width: 2rem;
        height: 2rem;
        padding: 1.25rem;
    }

    .el-label {
        font-size: 12px;
        padding: 0 0 4px 4px;
        font-weight: 500;
    }
    
    .el-label-top {
        font-size: 12px;
        font-weight: 500;
        padding: 4px 4px 0 0;
    }
    .side-left {
        height: 30vh;
        width: 23vw;
        padding: 1rem;
        left: 2rem;
    }
    .side-right {
        height: 70vh;
        width: 23vw;
        padding: 1rem;
        right: 2rem;
    }
    #messagecontent input {
        font-size: 12px;
    }

}

@media (max-width: 1300px) {
    .el {
        width: 1.5rem;
        height: 1.5rem;
        padding: 1.15rem;
    }

    .el-label {
        font-size: 12px;
        padding: 0 0 4px 4px;
        font-weight: 500;
    }
    
    .el-label-top {
        font-size: 12px;
        font-weight: 500;
        padding: 4px 4px 0 0;
    }
    .side-left {
        height: 30vh;
        width: 23vw;
        padding: 1rem;
        left: 2rem;
    }
    .side-right {
        height: 70vh;
        width: 23vw;
        padding: 1rem;
        right: 2rem;
    }
    #messagecontent input {
        font-size: 12px;
    }

}