@import url('https://fonts.googleapis.com/css2?family=Karla:wght@300&display=swap');

/* COMMON STYLES and BODY */
* {
    margin: 0;
    font-family: 'Karla', sans-serif;
}

body {
    display: flex;
    justify-content: center;
    flex-direction: row;
    position: relative;
}

#homediv {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100%;
    flex-direction: column;
    background-color: rgb(218, 211, 197);
}

/* CHESS BOARD */
#grid {
    display: flex;
    text-align: center;
    position: relative;
    z-index: 1000;
}

.rotate {
    transform: rotate(180deg);
}

.rotate-piece {
    transform: rotate(180deg);
}

.el {
    width: 3rem;
    height: 3rem;
    padding: 0.4rem;
    /* border: 0.1px solid gray; */
    /* border: 0.1px solid beige; */
    position: relative;
}

.el:hover {
    opacity: 90%;
}

.white {
    /* background-color: rgb(207, 206, 206); */
    /* background-color: #b76f20; */
    background-color: #ffcc9c;
}

.black {
    /* background-color: rgb(134, 101, 74); */
    /* background-color: #82490b; */
    background-color: rgb(255, 154, 101);
}

.side {
    background-color: black;
}

.el-label {
    position: absolute;
    font-size: 13px;
    bottom: 0;
    left: 0;
    padding: 0 0 3.5px 3.5px;
    font-weight: 500;
    color: white;
}

.el-label-top {
    position: absolute;
    font-size: 13px;
    top: 0;
    right: 0;
    padding: 3.5px 3.5px 0 0;
    font-weight: 500;
    color: white;
}

.piece {
    width: 65%;
    height: 65%;
    position: absolute;
    margin-left: auto;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-repeat: no-repeat;
    background-size: 100%;
    transition: width 0.3s, height 0.3s;
}

.piece:hover {
    cursor: pointer;
    top: 52.5%;
    transition: top 0.2s;
}

.dragging {
    width: 60.5%;
    height: 60.5%;
    cursor: -moz-grab;
}

.hidden {
    display: none
}

.possible {
    /* box-shadow: 1px 1px 5px 5px rgba(119, 255, 107, 0.46) inset; */
    /* background-color: rgba(12, 153, 12, 0.514); */
    /* box-shadow: inset 0px 0px 0px 5px #ce5501; */
    /* background-color: rgba(107, 255, 107, 0.186) */
    /* background-color: #ce5501; */
    /* background-color: #ff9205; */
    /* box-shadow: inset 0px 0px 0px 4px rgb(12, 153, 12); */
    background-color: #829769;
}

.check {
    /* box-shadow: 1px 1px 5px 5px rgba(247, 43, 43, 0.46) inset; */
    background-color: rgba(252, 17, 17, 0.76);
}


.currentMove {
    /* background-color: rgba(255, 166, 0, 0.781); */
    background-color: rgba(255, 68, 0, 0.726);
}

.newMove {
    background-color: rgba(255, 68, 0, 0.726);
}